/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #53721d;
  --title-color: #262626;
  --text-color: #595959;
  --body-color: #f2f2f2;
  --container-color: #ffffff;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 20px;
  --small-font-size: 13px;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 24px;
    --small-font-size: 14px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container{
  display: grid;
  place-items: center;
  margin-inline: 24px;
  padding-block: 80px;
}
.card__container{
  display: grid;
  row-gap: 56px;
}
.card__article{
  position: relative;
  overflow: hidden;
}
.card__img{
  width: 328px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.card__data{
  width: 280px;
  background-color: var(--container-color);
  box-shadow: 0 8px 24px #00000026;
  padding: 24px 32px;
  position: absolute;
  bottom: -144px;
  right: 0;
  left: 0;
  margin-inline: auto;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1 1s;
  -moz-transition: opacity 1 1s;
  -ms-transition: opacity 1 1s;
  -o-transition: opacity 1 1s;
}
.card__description{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4px;
}
.card__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-bottom: 8px;
}
.card__button{
  text-decoration: none;
  color: var(--first-color);
  font-weight: 500;
  font-size: var(--small-font-size);
}
.card__button:hover{
  text-decoration: underline;
}
/* Naming animations in hover */
.card__article:hover .card__data{
  opacity: 1;
  animation: show-data 1s forwards;
  -webkit-animation: show-data 1s forwards;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.card__article:hover{
  animation: remove-overFlow 1s forwards ;
  -webkit-animation: remove-overFlow 1s forwards ;
}
.card__article:not(:hover){
  animation: show-overFlew 1s forwards;
  -webkit-animation: show-overFlew 1s forwards;
}
.card__article:not(:hover) .card__data{
  animation: remove-data 1s forwards;
  -webkit-animation: remove-data 1s forwards;
}
/* Card animation */
@keyframes show-data{
  50%{
    transform: translateY(-160px);
    -webkit-transform: translateY(-160px);
    -moz-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    -o-transform: translateY(-160px);
  }
  100%{
    transform: translateY(-112px);
    -webkit-transform: translateY(-112px);
    -moz-transform: translateY(-112px);
    -ms-transform: translateY(-112px);
    -o-transform: translateY(-112px);
  }
}
@keyframes remove-overFlow{
  to{
    overflow: visible;
  }
}
@keyframes remove-data{
  0%{
    transform: translateY(-112px);
    -webkit-transform: translateY(-112px);
    -moz-transform: translateY(-112px);
    -ms-transform: translateY(-112px);
    -o-transform: translateY(-112px);
  }
  50%{
    transform: translateY(-160px);
    -webkit-transform: translateY(-160px);
    -moz-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    -o-transform: translateY(-160px);
  }
  100%{
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }
}
@keyframes show-overFlow{
  0%{
    overflow: visible;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:340px) {
  .container{
  margin-inline:16px ;
  }
  .card__data{
    width: 250px;
    padding: 16px;
  }
}
/* For medium devices */
@media screen and (min-width:768px) {
  .card__container{
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 24px;
  }
}
/* For large devices */
@media screen and (min-width:1120px) {
  .container{
    height: 100vh;
  }
  .card__container{
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 24px;
  }
  .card__img{
    width: 348px;
  }
  .card__data{
    width: 316px;
    padding-inline: 40px;
  }
}